<!-- ======= Header ======= -->
<header id="header" class="header">
  <div class="header-container">
    <a routerLink="/index" class="logo">
      <i class="bi bi-brush"></i>
      <h1>Arte Ana M.</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="/">Home</a></li>

        <li><a routerLink="/about">About</a></li>

        <li class="dropdown">
          <a>Gallery  <i class="bi bi-chevron-down dropdown-indicator"></i></a>

          <ul>
            <li>
              <a routerLink="/gallery/mundo-animal"> Mundo Animal </a>
            </li>

            <li>
              <a routerLink="/gallery/botanica"> Arte Botánico </a>
            </li>

            <li>
              <a routerLink="/gallery/paisajes-naturales"> Paisajes Naturales </a>
            </li>

            <li>
              <a routerLink="/gallery/escenas-playa"> Escenas de Playa </a>
            </li>

            <li>
              <a routerLink="/gallery/veleros"> Veleros </a>
            </li>
          </ul>
        </li>

        <li><a routerLink="/services">Servicios</a></li>

        <li><a routerLink="/contact">Contacto</a></li>
      </ul>
    </nav>
    <!-- .navbar -->

    <div class="header-social-links">
      <a
        href="https://es.wallapop.com/app/user/anam-76231494-08z82pdrw8z3/published"
        class="facebook"
        ><i class="bi bi-cart"></i
      ></a>
      <a href="https://www.instagram.com/a.m.art.inez/" class="instagram"
        ><i class="bi bi-instagram"></i
      ></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
<!-- End Header -->
