<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="hero d-flex flex-column justify-content-center align-items-center"
  data-aos="fade"
  data-aos-delay="1500"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-right">
        <br />
        <div class="section-header d-flex justify-content-center align-items-center">
          <h2></h2>
          <h1>Soy <a routerLink="about" class="content">Ana Martínez</a></h1>
          <h2></h2>
        </div>
        <h2>Una artista de España</h2>
        <br />

        <p>
          Bienvenidos al mundo de mis acuarelas y dibujos originales, cada uno hecho a mano con
          dedicación, técnica y mucho corazón. Aquí encontrarás piezas únicas, listas para llevarse
          un espacio especial en tu vida. También realizo encargos personalizados — si tienes una
          idea en mente, estaré encantada de convertirla en arte.
        </p>
      </div>
      <div class="col-lg-4 text-right">
        <br />
        <div class="section-header d-flex justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="gallery-item h-100">
              <img
                src="assets/images/gallery/mundo-animal/animal_6.jpg"
                class="img-fluid"
                alt="Acuarela de un animal"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<!-- End Hero Section -->
