<div class="row gy-4 justify-content-center">

  <div class="section-header d-flex justify-content-center align-items-center">
    <h2></h2>
    <p>{{ section.title }}</p>
    <h2></h2>
  </div>
@for (image of section.images; track $index) {
  <div
    class="col-xl-3 col-lg-4 col-md-6">
  <p>Imagen {{ $index }}</p>

    <app-gallery-card
      [image]="image">
    </app-gallery-card>

  </div>}

  <div
    class="page-header d-flex align-items-center row justify-content-center col-lg-4 text-center">

    <a
      class="cta-btn"
      [routerLink]="section.route">

      Ver sección completa

    </a>

  </div>

  <hr>

</div>
