<label for="order">

Ordenar por

</label>

<select
    id="order"
>

    <option value="newest">
        Más recientes
    </option>

    <option value="oldest">
        Más antiguas
    </option>

    <option value="titleAsc">
        Título A-Z
    </option>

    <option value="titleDesc">
        Título Z-A
    </option>

    <option value="priceAsc">
        Precio ↑
    </option>

    <option value="priceDesc">
        Precio ↓
    </option>

    <option value="categoryAsc">
        Categoría
    </option>

</select>