.price-guide{

    padding:90px 0;

}

.price-card{

    padding:30px;

    border-radius:16px;

    border:1px solid rgba(255,255,255,.08);

    height:100%;

}

.price-card span{

    display:block;

    margin-top:20px;

    font-size:1.3rem;

    font-weight:bold;

}

.price-info{

    margin-top:60px;

    padding:30px;

    border-radius:16px;

    background:rgba(255,255,255,.04);

}
